* {
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: "Winky Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: #041e42; */
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1d428a;
    /* box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.3); */
}

#menu {
    display: none;
}

.head-links {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.head-links a {
    text-decoration: none;
    font-weight: bolder;
    color: #ffc72c;
}

.head-links a:hover {
    transition: transform 0.5s ease;
    transform: scale(1.15);
    opacity: 0.9;
    color: #00a9e0;
}

.head-links a.current {
    /* font-weight: bold;
    color: #041e42; */
    border-bottom: 4px solid #041e42;
}

.my-cover {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero {
    width: 100%;
    height: 500px;
    position: relative;
}

.hero a {
    position: absolute;
    right: 10px;
    bottom: 10%;
    transform: translate(-50%, -50%);
    background-color: #1d428a;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}